header{
    background-color: var(--main-color);
    padding: 20px 30px;
}

.content-grid-1 .item figure{
    width: 360px;
}

.content-grid-2 .item figure{
    width: 360px;
    height: 360px;
}

.content-grid-2 .item:nth-child(3) figure{
    width: 360px;
    height: 698px;
}

.content-grid-1{
    margin-bottom: 69px;
    display: grid;
    grid-gap: 30px;
    grid-template-columns:repeat(auto-fill, 380px);
}

.content-grid-2{
    display: grid;
    grid-gap: 55px;
    grid-template-areas: "um dois tres" "quatro cinco tres";
}

.content-grid-2 .item:nth-child(1){
    grid-area: um;
}
.content-grid-2 .item:nth-child(2){
    grid-area: dois;
}
.content-grid-2 .item:nth-child(3){
    grid-area: tres;
}
.content-grid-2 .item:nth-child(4){
    grid-area: quatro;
}
.content-grid-2 .item:nth-child(5){
    grid-area: cinco;
}

section.container.content{
    display:flex;
    justify-content: center;
    flex-direction: column;
}

body section:nth-child(2){
    margin-top: 50px;
}

footer{
    margin-top: 20px;
    padding: 25px 0;
    background-color: var(--main-color);
}

@media only screen and (max-width: 900px) {
    .container .content-grid-2{
        display: grid;
        grid-template-areas: "um" "dois" "tres" "quatro" "cinco" "seis" "sete" "oito";
    }
    
body section:nth-child(3){
    display: flex;
    justify-content: center;
}

body section:nth-child(3) .content-grid-1{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
}



@media only screen and (max-width: 1200px) {
    .item figure{
        width: 25vw;
    }
    
    .item:nth-child(3) figure{
        width: 25vw;
    }   
}
    @media only screen and (max-width: 500px){
        .item figure{
            width: 80vw;
        }
        
        .item:nth-child(3) figure{
            width: 80vw;
        }   
    }